[Unit]
Description=servername minecraft server
After=network-online.target

[Service]
User=replace
WorkingDirectory=dirname
Type=forking
ExecStart=/bin/bash dirname/start.sh
ExecStop=/bin/bash dirname/stop.sh
GuessMainPID=no
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target